appdirs==1.4.4
args==0.1.0
asgiref==3.3.0
attr==0.3.1
attrs==20.2.0
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
clint==0.5.1
cycler==0.10.0
distlib==0.3.1
dj-database-url==0.5.0
Django==3.1.3
filelock==3.0.12
Flask==1.1.2
gensim==3.8.3
gunicorn==20.0.4
idna==2.10
importlib-metadata==2.0.0
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.13.2
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.3.2
mpmath==1.1.0
nltk==3.4.5
numpy==1.19.2
packaging==20.4
pandas==1.1.3
Pillow==8.0.1
pipenv==2020.11.4
protobuf==3.13.0
pyparsing==2.4.7
python-crfsuite==0.9.7
python-dateutil==2.8.1
pytz==2020.1
pyvi==0.1
regex==2020.10.23
requests==2.24.0
scipy==1.5.3
six==1.15.0
smart-open==3.0.0
sqlparse==0.4.1
sympy==1.6.2
tabulate==0.8.7
threadpoolctl==2.1.0
tqdm==4.50.2
underthesea==1.3.0
Unidecode==1.1.1
urllib3==1.25.10
virtualenv==20.1.0
virtualenv-clone==0.5.4
Werkzeug==1.0.1
whitenoise==5.2.0
zipp==3.4.0

coremltools~=4.0
scikit-learn~=0.20.3